#header {
  background-color: $color-white;
  .request {
    float: left;
  }
  p.request {
    color: #787878;
    border-left: #787878 solid 1px;
    padding-left: 15px;
  }
  .new-request {
    cursor: pointer;
    float: right;
    color: $color-blue;
    svg,
    p {
      float: right;
    }
    svg {
      margin-top: 17px;
      margin-right: 11px;
    }
  }
}