#popup {
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
  .container-popup {
    display: table-cell;
    vertical-align: middle;
    .container {
      max-width: 435px;
      background-color: #fff;
      border-radius: $generalBorderRadius;
    }
  }
  p {
    color: #444444;
    font-size: 13px;
    font-weight: 800;
    @extend %font-family;
    margin: 11px 0 1px 0;
    float: left;
  }
  h3 {
    color: #3D6FA9;
    padding: 15px 0;
    border-bottom: solid 1px #BFBFBF;
    margin-bottom: 30px;
  }
  input {
    @extend %font-p-sm;
    width: 100%;
    height: 43px;
    padding-left: 15px;
    border: solid 1px;
    &.with-content {
      border-color: #4c802a;
    }
    &.never-used {
      border-color: #BFBFBF;
    }
    &.empty {
      border-color: #8f2b2b;
    }
  }
  .cansel-button,
  .addNewrequest-button {
    @extend %font-p-sm;
    width: 40%;
    margin: 25px 5%;
    padding: 11px 0;
    border-radius: $generalBorderRadius;
    cursor: pointer;
  }
  .cansel-button {
    border: solid 1px #767676;
  }
  .addNewrequest-button {
    background-color: #345B99;
    color: #fff;
  }
  .row-padding-horizontal {
    padding: 0 20px;
  }
  .col-padding-horizontal {
    padding: 0 9px;
  }
  .border-top {
    border-top: solid 1px #BFBFBF;
    margin-top: 60px;
  }
}