.request-item {
  background-color: $color-white;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  animation-fill-mode: both;
  animation-duration: 1s;
  overflow: hidden;
  border-radius: $generalBorderRadius;
  &:first-of-type {
    margin-top: 15px;
  }
  &.fadeOutRight {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-name: fadeOutRight;
  }
  &.show-are-you-sure {
    &.fadeOutLeft {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-name: fadeOutLeft;
    }
    .border-red {
      border: #B41638 2px solid;
    }
    p.refuse {
      color: #BE2C46;
      float: right;
      padding-top: 4px;
      margin-left: 25px;
      margin-bottom: 0;
      font-weight: 800;
      cursor: pointer;
      &:hover {
        color: #f8002c;
      }
    }
    p.cancel {
      color: #aaa;
      text-decoration: underline;
      float: right;
      margin: 8px 5px;
      font-weight: 800;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
    p {
      @extend %font-p-sm;
      margin: 19px 0 19px;
    }
  }
  .accept,
  .cancel {
    padding: 15px 0 0 0;
    svg {
      margin: auto;
      &.cancel-svg:hover {
        polygon {
          fill: #F2F2F2;
        }
        circle {
          fill: #B41638;
        }
      }
      &.accept-svg:hover,
      &.with-content {
        polygon {
          fill: #F2F2F2;
        }
        circle {
          fill: #71C23B;
        }
      }
      &.cancel-svg,
      &.accept-svg {
        cursor: pointer;
      }
    }
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin: 10px 0 2px;
    &.cuit {
      @extend %font-p-sm;
      margin-top: 0;
      span {
        color: #9E9E9E;
      }
    }
    &.establishment-text {
      @extend %font-p-xs;
      font-weight: 800;
      color: #959595;
    }
    &.establishment {
      @extend %font-p-sm;
      font-weight: 800;
      color: #444444;
      margin: 0;
    }
    &.date {
      @extend %font-p-xs;
      font-weight: 800;
      color: #FFFFFF;
      background-color: #B4B4B4;
      float: left;
      padding: 1px 5px 0;
      margin: 0;
      border-radius: 3px;
    }
  }
  input {
    width: 100%;
    margin-top: 25px;
    height: 24px;
    border: 0;
    border-bottom: 2px solid;
    max-width: 150px;
    border-bottom-color: #969696;
    &:focus,
    &.with-content {
      border-bottom-color: #71C23B;
    }
    &.empty {
      border-bottom-color: #B41638;
    }
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
    height: 94px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  100% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
    height: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
    height: 94px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  100% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
    height: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}