body {
    @extend %font-family;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

html {
    height: 100%;
}

*:focus {
    outline: 0;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $color-white inset;
    -webkit-text-fill-color: #5d5c5c;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: $color-white;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $color-main;
}

.img-responsive-SVG {
    display: block;
    max-width: 100%;
    height: initial;
}

@-ms-viewport {
    width: device-width;
}

.display-none {
    display: none;
}